* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Roboto";
  }

  .hero {
    padding: 6.25rem 0;
    background-color: #23424A; 
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .content {
    width: 60%;
    max-width: 700px;
    color: white;
  }

  .heading {
    
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.519rem;
  }

  .paragraph {
    font-weight: 400;
    font-size: 1.313rem;
    line-height: 1.971rem;
  }

  .paragraph--margin-bottom-4rem {
    margin-bottom: 4rem;
  }

  .button {
    padding: 1rem 3rem;
    border-radius: 6.25rem;
    border: 0px;
    border-style:  none;
    color: #072A2D;
    background-color: #38CFD9;
    font-weight: 700;
    font-size: 1.313rem;
    line-height: 1.971rem;
  }

  .button:hover {
    background-color: #7de4ed;
  }

  .main-content1 {
    padding: 6rem 0;
    text-align: center;
  }

  .main-content2 {
    padding: 6rem 0;
    color: white;
    text-align: center;
    background-color: #136C72;
  }

  .row {
    display: flex;
    gap: 1rem;
  }

  .row--gap-2rem{
    gap: 3rem;
  }

  .col {
    width: 100%;
  }

  .heading2 {
    font-size: 2.125rem;
    margin-top: 0;
  }

  .heading2--color-pomp-power {
    color: #87629A;
  }


